
<div>
    
     <form action="/user/create-session" method="post">
       
         <label for="email">Email</label>
         <input type="email" name="email" id="email" placeholder="eg. abc@gmail.com" required>
         <br>
         <label for="password">Password</label>
         <input type="password" name="password" id="password" required>

         <button type="submit">Login</button>

     </form>


</div>